/* NAVIGATION*/
.navbar-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #FFFFFF;
	text-align:center;
	border-radius: 30px;
	padding: 10px 35px;

	max-width: 700px;
	margin: 0 auto;



}

/* SECTIONS */

.section-padding {
	padding: 87px 0px 0px;
	
}

.container {
	display: block;
	width: 88%;
	max-width: 1400px;
	margin: 0 auto;
	flex-direction: column;
	overflow: hidden;
	padding: 50px;
}


/* ROW */

.row {
	display: flex;             /* Makes the content run horizontally, instead of vertically */
	flex-wrap: wrap;           /* Makes the content wrap down if the elements inside are wider than the screen */
	align-content: stretch;    /* Makes the elements inside grow to the height of the container */
	justify-content:center;
	align-items:center;
	margin: 0px -20px;
	
}

.row-index-section-2{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align:center;
	padding-left:300px;

}
/* Both the .scrollable-row and .scroll-card was implemented by Claude AI. I asked "can you help me make the thing for the scrollable"  and I also inputed my figma design */
/* I ended up changing it a bit because It wasn't scrolling anyways. */
.scrollable-row{
	display: flex;
	gap: 20p;
	overflow-x: auto;
	padding: 20px;
}

.scroll-card{
	flex-shrink:0;
	width: 250px;
}


.section-grid{
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 1fr;
}

.row-justify-end {
	justify-content: flex-end;
}

.row-justify-center {
	justify-content: center;
}

.row-justify-between {
	justify-content: space-between;
}

.row-align-end {
	align-items: flex-end; /* UPDATED */
}

.row-align-center {
	align-items: center; /* UPDATED */
}

.item{
	flex: 0 0 45%;
}


/* COLUMN */

.col-margin{
	margin: 50px 50px;
}

.col {
	display:inline;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	padding: 0px 20px;
	
}

.col-lg-1 {
	max-width: 8.33%;
}

.col-lg-2 {
	max-width: 16.67%;
}

.col-lg-3 {
	max-width: 25%;
}

.col-lg-4 {
	max-width: 33.33%;
}

.col-lg-5 {
	max-width: 41.67%;
}

.col-lg-6 {
	max-width: 50%;
}

.col-lg-7 {
	max-width: 58.33%;
}

.col-lg-8 {
	max-width: 66.67%;
}

.col-lg-9 {
	max-width: 75%;
}

.col-lg-10 {
	max-width: 83.33%;
}

.col-lg-11 {
	max-width: 91.67%;
}

.col-lg-12 {
	max-width: 100%;
}

/* IMAGES */

.img-index-2{
	position: relative;
	top: 200px;
	z-index:1;
	
	align-self: flex-end;
	margin-top: 400px;
}


/* NEWS*/
.news-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #FFFFFF;
	text-align:center;
	border-radius: 30px;
	padding: 10px 35px;


}


/* FOOTER*/
.footer-container{
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding:10px;
}

.footer-div{
	display:flex;
	flex-direction: column;
	gap:15px;
	align-content: left;

}