

/* GLOBAL STYLES */

body {
	font-family: "Space Grotesk", sans-serif;
	color: #53444B;
	background-color: #FFF4E2;
}



/* ----BACKGROUNDS---- */



/* ----TEXT MODIFIERS ----*/
/* Main Styles */



/* Text Colour */


/* Text Layout */





/* Navigation */



/* Image Styles */




/* Buttons */




/* ----INDIVIDUAL STYLES---- */


