


/* ----BACKGROUNDS---- */
header{
	background-color:#A67E6F;
	padding: 16px 15%;
	font-family: "Libre Caslon", sans-serif;
}

.background-brown{
	background-color: #A67E6F;
}

.background-darkbrown{
	background-color: #4D3537;
}

.background-white-textured{
	background-image: url('../images/general/background_whiteTexture.png');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.background-yellow{
	background-image: url('../images/general/background_yellow_texture.png');
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	overflow: hidden;
	padding: 60px 40px;
}




/* ----TEXT MODIFIERS ----*/
/* Main Styles */
body {
	font-family: "Open Sans", sans-serif;
}

h1{
	font-family: "Libre Caslon Text", serif;
}

h2{
	font-family: "Libre Caslon Text", serif;
}

h3{
	font-family: "Open Sans", sans-serif;
}

.title-centered{
	text-align:center;
	padding: 40px;
	font-size: 30px;
}

.list-no-bullets {
	list-style: none;
	padding-left: 0px;
}



/* Text Colour */


/* Text Layout */





/* Navigation */
nav li{
	list-style: none;
	display: inline-block;
	
	/* padding-left: 0px; */
}

nav a{
	text-decoration: none;
	color: #1E1E1E;
}

nav a:hover{
	background-color: #fcdade;
     color: #472D30;
	 
}

nav ul{
	padding:0;
	margin:0;
	display: flex;
	gap: 10px;
}



/* Image Styles */

.img{
	max-width: 100%;
	
}

.img-index-hero{
	max-width: 100%;
	/* flex:1; */
}




/* Buttons */

.button-brown{
	background-color: #734D49;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
}

.button-darkbrown-outlined{
	background-color: #472D30;
	border-radius: 25px;
	padding: 10px 25px;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;

}


/* ----INDIVIDUAL STYLES---- */

.index-hero-section{
	background-color: #A67E6F;
	align-items:center;
	display: flex;
	flex:1;
	padding: 40px 60px;
}


